*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    --primary-color: rgb(243, 2, 2);
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: blue;
    --background-color: #f0f0f0;
}
.heading{
    font-size: 20px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#para{
    font-size: 18px;
    color: var(--secondary-color);
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.image{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.navbar{
    background-color: rgb(232, 20, 20);
    overflow: hidden;
}
.nav-list{
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav-item{
    margin: 0 15px;
}
.nav-item a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
.nav-item a:hover{
    background-color: #000000;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    border: black;
}
.cards{
    background-color: #f16508;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 4px 8px ;
    transition: transform 0,3s ease;
}
.cards:hover{
    transform: scale(1.05);
}
.card-title{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-bottom: 10px;
}
.card-text{
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}
.material-symbols-outlined{
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: var(--secondary-color);
    margin: 10px;
    transition: color 0.3s ease;
}
.material-symbols-outlined:hover {
  color: var(--tertiary-color);
  cursor: pointer;
}
